// Styling for the contact form
// Copyright 2025 Rye (itsry.dev)

@import 'variables';
@import 'colors';

.hugo-contact-form-wrapper{
    fieldset{
        border: none;
        margin: 0;
        padding: 0;
    }
}